.container{
  display: flex;
  justify-content: space-between;
}
.imgcontainer {
  background-position: center;
  width: 20%;
  height: 100vh;
  background-size: 1000px;
}
.Text{
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-style: italic;
}

.head{
  height: 100px;
  width:100hv;
  background-color: rgb(70, 64, 64);
  background-image: url("./images/icon.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position-y: center;
  background-position-x: 1%;
}
.time{
  display: flex;
  justify-content: flex-end;
  position: relative;
  color:white;
  height: 100%;
  right: 3%;
  font-size: 20px;
}

#mountain{
  background-image: url("./images/mountain.jpeg");background-repeat: no-repeat;
}
#flashlight{
  background-image: url("./images/flashlight.jpg");background-repeat: no-repeat;
}
#girl{
  background-image: url("./images/girl.jpeg");background-repeat: no-repeat;
}

.box{
  display: flex;
  background-color: rgb(197, 163, 163);
  position: relative;
  border-radius: 20px;
  width: 250px;
  height: 50%;
  left: 12vh;
  align-items: center;
  top: 30%;
  
}

#fox{
  background-image: url("./images/fox.jpeg");background-repeat: no-repeat;
}
#cloud{
  background-image: url("./images/cloud.jpeg");background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .container{
      flex-direction: column;
      justify-content: center;
    }
    .imgcontainer{
      width: 100%;
      background-size: 100%;
      height: 20vh;
    }
    .time{
      display: none;
    }
    .box{
      left: 10vh;
    }
}